body{
    background-color: darkgray;
}
.p{
    text-align: center;
}
.border{
    margin: auto;
    border: 5px solid red;
    border-radius: 12px;
    padding: 5px;
    width: 700px;
}
a:link, a:visited {
    background-color: black;
    color: red;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
a:hover, a:active {
    background-color: white;
}

