body {
    background-image: url('https://i.pinimg.com/564x/2b/ae/97/2bae97a9423b958577274993864aa400.jpg');
}

h1 {
    color: rgb(255, 141, 179);
    font-family: courier;
    text-align: center;
}

h2 {
    color: rgb(247, 130, 107);
}

p {
    font-family: courier;
    text-align: center;
}