body {
    background-color: rgb(186, 235, 255);
}

h1 {
    color: rgb(255, 141, 179);
    font-family: courier;
    text-align: center;
}

h2 {
    color: rgb(247, 130, 107);
}

p {
    font-family: courier;
    text-align: center;
}