.box {
    background-image: url(https://www.gbtech.co.th/wp-content/uploads/2019/02/NEWS-KNOWL-1.jpg);
    min-height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}


p {
    font-size: 17px;
    align-items: center;
}

.box a {
    display: inline-block;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20201028/pngtree-hand-painted-watercolor-rainbow-background-image_440449.jpg);
    padding: 20px;
    border-radius: 10px;
}

.modal {
    align-items: center;
    display: flex;
    justify-content: center; 
    position:relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}

.content {
    position: absolute;
    background: rgb(255, 255, 255);
    width: 100px;
    padding: 3em 3em;
    border-radius: 4px;
    
  
} 

.modal:target {
    visibility: visible;
    opacity: 1;
}

.box-close {
    position: absolute;
    top: 0;
    color: rgb(255, 255, 255);
    text-decoration:underline;
    font-size: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    
}