.box {
    background-image: url(https://img.lovepik.com/background/20211020/large/lovepik-background-of-sense-of-science-and-technology-image_400058840.jpg);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

p {
    font-size: 17px;
    align-items: center;
}

.box a {
    display: inline-block;
    background-color: hsl(298, 100%, 50%);
    padding: 15px;
    border-radius: 3px;
}

.modal {
    align-items: center;
    /* display: flex; */
    justify-content: center; 
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}

.content {
    position: absolute;
    background: rgb(0, 0, 0);
    width: 50%;
    padding: 1em 2em;
    border-radius: 4px;
    min-height: 100vh;
  
} 

.modal:target {
    visibility: visible;
    opacity: 1;
}

.box-close {
    position: absolute;
    top: 0;
    color: rgb(255, 255, 255);
    text-decoration:underline;
    font-size: 50px;
}

.center {
    display: block;
    margin-left: 50%;
    margin-right: 50%;
    width: 100%;
    
}